body {
    background-color: white;
}
@media screen and (min-width: 1490px){
    .container {
        margin-left: 7%;
        margin-right: 5%;
        width: 90%;
        text-align: center;
        align-items: center;
    }
    .block {
        background-color: white;
        border: 1px solid black;
        border-radius: 4px;
        width: 380px;
        height: auto;
        text-align: center;
        margin: 10px;
        min-width: 400px;
        float:inline-start;
        margin-left: 30px;
        transition: scale 0.15s ease-in-out;
    }
    .block:hover {
        sscale: 1.12;
        transition: scale 0.13s ease-in-out;
    }
    img {
        max-width: 392px;
        width: 400px;
        margin-top: 7px;
        border-radius: 3px;
    }
}
@media screen and (min-width: 500px) and (max-width: 1490px){
    .container {
        margin-left: 10%;
        margin-right: 5%;
        width: 90%;
        text-align: center;
        align-items: center;
    }
    .block {
        background-color: white;
        border: 1px solid black;
        border-radius: 4px;
        width: 340px;
        height: auto;
        text-align: center;
        margin: 14px;
        min-width: 340px;
        float:inline-start;
        margin-left: 30px;
        transition: scale 0.13s ease-in-out;
    }
    .block:hover {
        scale: 1.12;
        transition: scale 0.13s ease-in-out;
    }
    img {
        max-width: 332px;
        width: 340px;
        margin-top: 7px;
        border-radius: 3px;
    }
}
@media screen and (max-width: 500px) {
    .container {
        width: 90%;
        margin-left: 5.5%;
        text-align: center;
        align-items: center;
    }
    .block {
        background-color: white;
        border: 1px solid black;
        border-radius: 4px;
        width: 340px;
        height: auto;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0;
        text-align: center;    
        min-width: 340px;
        float:inline-start;
    }
    h1 {
        font-size: 20px;
    }
    img {
        max-width: 332px;
        width: 340px;
        margin-top: 7px;
        border-radius: 3px;
    }
}
h1 {
    display: inline-block;
    width: 100%;
}
div {
    margin: 6px;
}
p {
    font-size: 14px;
    margin: 7px;
}
.title {
    font-size: 18px;
    font-weight: bold;
}
/* button {
    font-size: 12px;
    font-weight: bold;
    width: 40%;
    background-color: #ededed;
    border: black 1px solid;
    border-radius: 4px;
    transition: background-color 0.2s ease-in;
    color: black;
    margin-bottom: 6px;
    display: block;
} */
.button {
    text-decoration: none;
    margin-left: 35%;
    margin-right: 30%;
    margin-top: 3%;
    font-size: 12px;
    font-weight: bold;
    width: 30%;
    line-height: 25px;
    background-color: #ededed;
    border: black 1px solid;
    border-radius: 4px;
    transition: background-color 0.2s ease-in;
    color: black;
    margin-bottom: 6px;
    display: block;
    box-shadow: 1.7px 1.7px black;
}
.button:hover {
    background-color: #fcfacf;
    transition: background-color 0.15s ease-in;
}
.button:active {
    box-shadow: 0px 0px;
}
.vote {
    text-decoration: none;
    color: black;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border-bottom: 0.5px gray solid;
  }
  
.navcontent {
    float: right;
  }
@media screen and (min-width: 600px) {
.navcontent a {
    margin-top: 12px;
    font-size: 20px;
    font-weight: bold;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 0.2s ease-in;
  }
  .logocsg {
    margin-left: 5%;
    max-height: 70px;
    width: auto;
}
}
@media screen and (max-width: 600px) {
.navcontent a {
        margin-top: 12px;
        font-size: 15px;
        font-weight: bold;
        display: block;
        color: black;
        text-align: center;
        padding: 7px 9px;
        text-decoration: none;
        transition: color 0.2s ease-in;
      }
      .logocsg {
        margin-left: 5%;
        max-height: 50px;
        width: auto;
    }
}
.navcontent a:hover {
    color:#bab102;
    transition: color 0.2s ease-in;
    border-bottom: 2.5px solid #bab102;
    transition: border 0.18s ease-in-out, color 0.18s ease-in-out;
}
p {
    font-size: 15px;
}

.footer {
    border-top: 0.5px gray solid;
    display: inline-block;
    margin-top: 35px;
    padding: 0;
    width:95%;
    height: 90px;
}
.footer_title {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 13px;
    margin-bottom: 5px;
    display: block;
    width: 100%;
    font-size: 28px;
    font-weight: bold;
}
.footer_logo {
    margin-left: 25px;
    margin-right: 25px;
    height: 90px;
    width: auto;
    transition: scale 0.25s ease-in-out;
}
.footer_logo:hover {
    scale: 1.2;
    transition: scale 0.3s ease-in-out;
}
.description {
    font-size: 11.5px;
}